.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.row{
  display: flex;
}