.notes{
    display: flex;
    width: 80vw;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px){
    .notes{
        justify-content: center;
    }
}

